includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 7
    paths:
        - src
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
